PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://jeevakkharat:Jeevak2001@cluster0.mongodb.net/inventory-asset-management?retryWrites=true&w=majority
JWT_SECRET=inventory_management_super_secret_key_2026
